@font-face {
  font-family: 'NuberNext';
  src: url('~src/assets/fonts/NuberNext-Regular.eot');
  src: url('~src/assets/fonts/NuberNext-Regular.eot?#iefix') format('embedded-opentype'),
  url('~src/assets/fonts/NuberNext-Regular.woff2') format('woff2'),
  url('~src/assets/fonts/NuberNext-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'NuberNext';
  src: url('~src/assets/fonts/NuberNext-Bold.eot');
  src: url('~src/assets/fonts/NuberNext-Bold.eot?#iefix') format('embedded-opentype'),
  url('~src/assets/fonts/NuberNext-Bold.woff2') format('woff2'),
  url('~src/assets/fonts/NuberNext-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'NuberNextWide';
  src: url('~src/assets/fonts/NuberNextWide-Regular.eot');
  src: url('~src/assets/fonts/NuberNextWide-Regular.eot?#iefix') format('embedded-opentype'),
  url('~src/assets/fonts/NuberNextWide-Regular.woff2') format('woff2'),
  url('~src/assets/fonts/NuberNextWide-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'NuberNextExtended';
  src: url('~src/assets/fonts/NuberNextExtended-Black.eot');
  src: url('~src/assets/fonts/NuberNextExtended-Black.eot?#iefix') format('embedded-opentype'),
  url('~src/assets/fonts/NuberNextExtended-Black.woff2') format('woff2'),
  url('~src/assets/fonts/NuberNextExtended-Black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'NuberNextWide';
  src: url('~src/assets/fonts/NuberNextWide-Bold.eot');
  src: url('~src/assets/fonts/NuberNextWide-Bold.eot?#iefix') format('embedded-opentype'),
  url('~src/assets/fonts/NuberNextWide-Bold.woff2') format('woff2'),
  url('~src/assets/fonts/NuberNextWide-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'NuberNextExtended';
  src: url('~src/assets/fonts/NuberNextExtended-Regular.eot');
  src: url('~src/assets/fonts/NuberNextExtended-Regular.eot?#iefix') format('embedded-opentype'),
  url('~src/assets/fonts/NuberNextExtended-Regular.woff2') format('woff2'),
  url('~src/assets/fonts/NuberNextExtended-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
