@import 'bootstrap/scss/mixins';
@import 'src/assets/scss/theme-angular-starter1/bootstrap/variables';

.header {
  position: absolute;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: end;
  height: $header-height-mobile;

  @include inlinePaddings;
  @include container;

  @include media-breakpoint-up(tb) {
    height: $header-height-desktop;
  }

  &__logo {
    width: 108px;
    height: 25.8px;
    margin-bottom: 3.2px;

    @include media-breakpoint-up(sm) {
      width: 170px;
      height: 40px;
      margin-bottom: 3.2px;
    }

    @include media-breakpoint-up(tb) {
      width: 187px;
      height: 44px;
      margin-bottom: 15.47px;
    }
  }

  &__presentation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 160px;
    height: 32px;
    border: 1px solid #000;
    border-radius: 27px;

    font-size: 13px;
    font-weight: $headings-font-weight;
    line-height: 24px;
    letter-spacing: 0em;
    transition: background-color $animation-speed, color $animation-speed;

    @include media-breakpoint-up(sm) {
      width: 180px;
      height: 40px;
      font-size: 14px;
    }

    @include media-breakpoint-up(tb) {
      width: 203.25px;
      height: 56px;
      border-radius: 48px;

      font-size: 16px;
      letter-spacing: -0.02em;

      &:hover {
        background-color: #000;
        color: $white;

        & .header__download-icon {
          background-image: url("/assets/img/icons/icon-download-white.svg");
        }
      }
    }
  }

  &__download-icon {
    width: 11px;
    height: 15px;
    background-image: url("/assets/img/icons/icon-download-black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image $animation-speed;

    @include media-breakpoint-up(tb) {
      width: 16.25px;
      height: 23px;
    }
  }
}
