@import 'bootstrap/scss/mixins';
@import 'src/assets/scss/theme-angular-starter1/bootstrap/variables';

.ok-button {
  margin: 0;
  width: 192px;
  height: 64px;
  border: 2px solid #000;
  border-radius: 40px;
  background-color: #000;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: $white;
  transition: color $animation-speed, background-color $animation-speed;

    &:hover {
    background-color: transparent;
    color: #000;
  }

  @include media-breakpoint-down(tb) {
    width: 188px;
    height: 54px;

    &:hover {
      background-color: #000;
      color: $white;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 184px;
    height: 48px;

    font-size: 13px;
    letter-spacing: -0.02em;
  }
}

.modal__text {
  max-width: 436px;
}
