@import 'bootstrap/scss/mixins';
@import 'src/assets/scss/theme-angular-starter1/bootstrap/variables';

.footer {
  background-color: #000;
  color: $white;

  &__content {
    @include container;
    padding: 64px 17px 26px 17px;

    @include media-breakpoint-up(sm) {
      @include grid;
      padding-block: 50px 37px;
    }

    @include media-breakpoint-up(tb) {
      padding-block: 50px 37px;
    }
  }

  &__right {
    display: grid;
    row-gap: 45px;
    margin-bottom: 45px;

    @include media-breakpoint-up(sm) {
      justify-self: flex-end;
      grid-column: 6 / -1;
      grid-row: 1 / -1;
    }

    @include media-breakpoint-up(tb) {
      justify-self: flex-end;
      grid-column: 9 / -1;
      grid-row: 1 / -1;

      row-gap: 14px;
      align-content: start;
      margin-bottom: 0;
    }
  }

  &__left {
    display: grid;
    row-gap: 27px;

    @include media-breakpoint-up(sm) {
      grid-column: 1 / 5;
      grid-row: 1 / -1;
    }

    @include media-breakpoint-up(tb) {
      grid-column: 1 / 7;
      grid-row: 1 / -1;
      row-gap: 64.42px;
    }
  }

  &__socials {
    list-style: none;
    display: flex;
    gap: 14px;

    @include media-breakpoint-up(tb) {
      gap: 12px;
    }
  }

  &__icon {
    display: block;
    width: 36px;
    height: 36px;
    transition: background-image $animation-speed;

    &-facebook {
      background-image: url("/assets/img/icons/icon-facebook-white.svg");

      @include media-breakpoint-up(tb) {
        &:hover {
          background-image: url("/assets/img/icons/icon-facebook-yellow.svg");
        }
      }
    }

    &-twitter {
      background-image: url("/assets/img/icons/icon-twitter-white.svg");

      @include media-breakpoint-up(tb) {
        &:hover {
          background-image: url("/assets/img/icons/icon-twitter-yellow.svg");
        }
      }
    }

    &-telegram {
      background-image: url("/assets/img/icons/icon-telegram-white.svg");

      @include media-breakpoint-up(tb) {
        &:hover {
          background-image: url("/assets/img/icons/icon-telegram-yellow.svg");
        }
      }
    }

    &-youtube {
      background-image: url("/assets/img/icons/icon-youtube-white.svg");

      @include media-breakpoint-up(tb) {
        &:hover {
          background-image: url("/assets/img/icons/icon-youtube-yellow.svg");
        }
      }
    }

    &-instagram {
      background-image: url("/assets/img/icons/icon-instagram-white.svg");

      @include media-breakpoint-up(tb) {
        &:hover {
          background-image: url("/assets/img/icons/icon-instagram-yellow.svg");
        }
      }
    }

    &-chatbot {
      background-image: url("/assets/img/icons/icon-chatbot-white.svg");

      @include media-breakpoint-up(tb) {
        &:hover {
          background-image: url("/assets/img/icons/icon-chatbot-yellow.svg");
        }
      }
    }
  }


  &__emails {
    list-style: none;
    display: grid;
    row-gap: 18px;

    @include media-breakpoint-up(sm) {
      row-gap: 8px;
      justify-items: flex-end;
    }
  }

  &__link {
    position: relative;
    display: block;
    width: max-content;

    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    transition: color $animation-speed;

    @include media-breakpoint-up(tb) {
      &:hover {
        color: #ffcd4e;

        &::after {
          background-color: #ffcd4e;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 1.3px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: #fff;
      transition: background-color $animation-speed;
    }
  }

  &__copyright {
    opacity: 0.5;
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0em;

    @include media-breakpoint-up(sm) {
      font-size: 12px;
      font-weight: 300;
      line-height: 18px;
      letter-spacing: 0em;
    }
  }
}
