<footer class="footer">
  <div class="footer__content">
    <div class="footer__right">
      <ul class="footer__socials">
        <li>
          <a href="https://www.facebook.com/mintsyfra/" class="footer__icon footer__icon-facebook"></a>
        </li>

        <li>
          <a href="https://twitter.com/mintsyfra" class="footer__icon footer__icon-twitter"></a>
        </li>

        <li>
          <a href="https://t.me/mintsyfra" class="footer__icon footer__icon-telegram"></a>
        </li>

        <li>
          <a href="https://www.instagram.com/mintsyfra.official" class="footer__icon footer__icon-instagram"></a>
        </li>

        <li>
          <a href="https://www.youtube.com/channel/UCJpDqJoUTcjMJgBY-DRtfcg" class="footer__icon footer__icon-youtube"></a>
        </li>

        <li>
          <a href="https://t.me/mincifra_bot" class="footer__icon footer__icon-chatbot"></a>
        </li>
      </ul>

      <ul class="footer__emails">
        <li>
          <a href="mailto:pr@thedigital.gov.ua" class="footer__link">pr@thedigital.gov.ua</a>
        </li>

        <li>
          <a href="mailto:hello@thedigital.gov.ua" class="footer__link"> hello@thedigital.gov.ua</a>
        </li>
      </ul>
    </div>

    <div class="footer__left">
      <img src="assets/img/logo-white.svg" alt="Кабінет Міністрів України" class="footer__logo" />

      <p class="footer__copyright">
        © 2020 Весь контент доступний за ліцензією <br />
        Creative Commons Attribution 4.0 International license, якщо не зазначено інше
      </p>
    </div>
  </div>
</footer>
