<section class="subscription">
  <div class="subscription__content">
    <div class="subscription__left">
      <h2 class="subscription__title">Щотижневі новини</h2>
      <p class="subscription__text">Підпишіться, щоб отримувати листи</p>
    </div>

    <form action="" class="subscription__form">
      <input class="subscription__input" type="email" placeholder="Ваш email" />
      <button class="subscription__button" type="submit">Підписатись</button>
      <p class="subscription__agreement">Даю згоду на обробку та використання персональних даних</p>
    </form>
  </div>
</section>
