<section class="subscription">
  <div class="subscription__content">
    <div class="subscription__left">
      <h2 class="subscription__title">
        Щотижневі <br />
        новини
      </h2>
      <p class="subscription__text">Підпишіться, щоб отримувати листи</p>
    </div>

    <form (ngSubmit)="handleFormSubmit()" [formGroup]="subscriptionForm" class="subscription__form">
      <input
        formControlName="email"
        class="subscription__input"
        [class.error]="this.emailControl?.touched && this.emailControl?.invalid"
        type="email"
        placeholder="Ваш email"
        #emailInput
      />

      <div class="subscription__error">
        <p *ngIf="this.emailControl?.touched && this.emailControl?.errors?.required" class="subscription__error-message">Введіть email</p>
        <p *ngIf="this.emailControl?.touched && this.emailControl?.errors?.email" class="subscription__error-message">
          Неправильний формат email
        </p>
      </div>

      <button class="subscription__button" type="submit" aria-label="submit subscription">Підписатись</button>
      <p class="subscription__agreement">Даю згоду на обробку та використання персональних даних</p>
    </form>
  </div>

  <ng-template #modal>
    <app-home-modal></app-home-modal>
  </ng-template>
</section>
