@import 'bootstrap/scss/mixins';
@import 'src/assets/scss/theme-angular-starter1/bootstrap/variables';

.subscription {
  background-color: #ffcd4e;

  &__content {
    @include inlinePaddings;
    @include container;
    @include grid;
    row-gap: 54px;
    padding-block: 54px 59px;

    @include media-breakpoint-up(tb) {
      padding-block: 114px 153px;
    }
  }

  &__left {
    @include media-breakpoint-up(sm) {
      grid-column: 1 / 5;
    }

    @include media-breakpoint-up(tb) {
      grid-column: 2 / 7;
    }
  }

  &__title {
    margin-bottom: 14px;
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: -0.02em;

    @include media-breakpoint-up(sm) {
      font-size: 36px;
      line-height: 48px;
    }

    @include media-breakpoint-up(tb) {
      margin-bottom: 24px;
      font-size: 56px;
      line-height: 67px;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.02em;

    @include media-breakpoint-up(sm) {
      font-size: 16px;
      line-height: 24px;
    }

    @include media-breakpoint-up(tb) {
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0em;
    }
  }

  &__form {
    @include media-breakpoint-up(sm) {
      grid-column: 5 / -1;
    }

    @include media-breakpoint-up(tb) {
      grid-column: 8 / -2;
    }
  }
}
