<section class="contacts">
  <div class="contacts__wrapper">
    <div
      class="contacts__item"
      data-aos="fade-right"
      data-aos-delay="0"
      data-aos-once="true"
      data-aos-easing="ease-out"
      data-aos-offset="800"
    >
      <img src="assets/img/icons/icon-fist.svg" class="contacts__title-icon" />
      <h3 class="contacts__title">Зіткнулися з корупцією?</h3>

      <div class="contacts__item-right">
        <p class="contacts__text">Пишіть нам</p>
        <a href="mailto:hello@thedigital.gov.ua" class="contacts__link">hello@thedigital.gov.ua</a>
      </div>
    </div>

    <div
      class="contacts__item contacts__messangers"
      data-aos="fade-right"
      data-aos-delay="100"
      data-aos-once="true"
      data-aos-easing="ease-out"
      data-aos-offset="800"
    >
      <img src="assets/img/icons/icon-message.svg" class="contacts__title-icon" />
      <h3 class="contacts__title">Напишіть у чат-бот</h3>

      <div class="contacts__item-right">
        <p class="contacts__text">Оберіть месенджер</p>

        <div class="contacts__socials">
          <a href="viber://pa?chatURI=diia_help_bot" class="contacts__social-icon contacts__viber" target="_blank" title="Viber"></a>

          <a href="https://t.me/mintsyfra" class="contacts__social-icon contacts__telegram" target="_blank" title="Telegram"></a>

          <a
            href="https://www.facebook.com/mintsyfra"
            class="contacts__social-icon contacts__facebook"
            target="_blank"
            title="Facebook"
          ></a>
        </div>
      </div>
    </div>

    <div
      class="contacts__item contacts__phone"
      data-aos="fade-right"
      data-aos-delay="200"
      data-aos-once="true"
      data-aos-easing="ease-out"
      data-aos-offset="800"
    >
      <img src="assets/img/icons/icon-phone.svg" class="contacts__title-icon" />
      <h3 class="contacts__title">Зателефонуйте на гарячу лінію</h3>

      <div class="contacts__item-right">
        <p class="contacts__text">Працює з 09:00 до 18:00</p>
        <a href="tel:+380971628529" class="contacts__link">+38 097 162 85 29</a>
      </div>
    </div>
  </div>
</section>
