@import 'bootstrap/scss/mixins';
@import 'src/assets/scss/theme-angular-starter1/bootstrap/variables';

.stages {
  @include grid;
  row-gap: 40px;

  padding-block: 55px;
  @include inlinePaddings;
  @include container;

  @include media-breakpoint-up(tb) {
    row-gap: 56px;
    padding-block: 100px;
    margin-bottom: 20px;
  }

  &__item {
    grid-column: span 4;
  }
}
